

**Data Types and Structures Questions**

1. What are data structures, and why are they important?
- Data structure are the way of organizing and storing data for efficent access and modification
they are essential because they enable efficent alogrithms, better memoray usage, and faster performance like simply data manupulation like adding, removing, modifiying elements etc

2. Explain the difference between mutable and immutable data types with examples .
- Mutable data types are basically the data which are changable for example list is a type of mutable data

   Immutable the data can't be changed for example tuple is an example of immutable data types

3.What are the main differences between lists and tuples in Python ?
-  The differences between list and tuples are list is Mutable means inside this we can changed data

  In the case of tuples is Immutable the data inside this can't modified like Aadhar Number, Pan no. these are fixed/constant data put insude tuples

4. Describe how dictionaries store data .
- Dictionaries store data as key-value pairs using a hash table internally. Each key is hashed to find the corresponding value quickly.

5. Why might you use a set instead of a list in Python?
- Sets use instead of list because its eliminate duplicates, are also useful for checking membership, unorder collection of unique elements.

6.What is a string in Python, and how is it different from a list?
-  A string is an immutable sequence of characters.

   A list is a mutable sequence of elements can be of any type.

7. How do tuples ensure data integrity in Python ?
-  Tuples are immutable, so once created their content can't be changed. This makes them ideal for storing fixed, reliable data.

8. What is a hash table, and how does it relate to dictionaries in python?
-  A hash table is a data structure that maps keys to values using a hash function. Python's dictionary uses a hash table internally for fast key based access.

9.Can lists contain different data types in Python?
-  Yes python list contain mixed data types

10.Explain why strings are immutable in Python .
-   immutability makes strings usable as dictionary keys its improved security and reliability and memory efficieny.

11. What advantages do dictionaries offer over lists for certain tasks ?
-   Advantages of dictionaries over list its shows clear maping between values ,  ideal for structured , labeled data.

12. Describe a scenario where using a tuple would be preferable over a list.
-   when need read only data and data should be hashable and also for function return values

13. How do sets handle duplicate values in Python?
-   In Python a set is a collection of unique, unordered elements.
  
   sets automatically eliminate duplicates  you don't have to do anything extra.

14. How does the “in” keyword work differently for lists and dictionaries?
-   in work for list as value and for dictionaries it is work as key

15.Can you modify the elements of a tuple? Explain why or why not.
- No Tuples are immutable, so elements cannot be changed, added, or removed after creation.

16. What is a nested dictionary, and give an example of its use case
-  A nested dictionary is a dictionary inside another dictionary.

In [5]:
student = {"name": "Azhadul", "grades":{"maths": 90, "science":85}}

17. Describe the time complexity of accessing elements in a dictionary.
-   In Python, dictionaries are implemented using hash tables, which allow for average-case constant time complexity for key access.

18. In what situations are lists preferred over dictionaries?
-   list preferred over dictionaries when order matter, when data has no lables, also for iterating over values sequentially

19.Why are dictionaries considered unordered, and how does that affect data retrieval ?
- Dictionaries don't use order for retrieval they use keys and hash functions.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
- the difference between a list and a dictionary in terms of data retrieval list is indexed access where dictionary is key based access , list slowe for lookups where it is faster for known keys



**Practical Questions**

1. Write a code to create a string with your name and print it.

In [6]:
name = "Azhadul Mumin"
print(name)

Azhadul Mumin

2.  Write a code to find the length of the string "Hello World".

In [9]:
print(len("Hello world"))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [13]:
a = "python programing"
a[:3]

'pyt'

 4.Write a code to convert the string "hello" to uppercase

In [14]:
name4 = "hello"
name4.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple

In [15]:
fruits ="I like apple"
fruits.replace("apple","orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it

In [16]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [18]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [19]:
my_list8 = [1, 2, 3, 4, 5]
my_list8.remove(3)
print(my_list8)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [20]:
list9 = ["a", "b", "c", "d"]
list9[1]

'b'

10.  Write a code to reverse the list [10, 20, 30, 40, 50]

In [21]:
list10 = [ 10, 20, 30, 40, 50]
list10[::-1]

[50, 40, 30, 20, 10]

11.. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [22]:
tuple11 = (100, 200, 300)
print(tuple11)

(100, 200, 300)

In [23]:
type(tuple11)

tuple

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [25]:
colours = ('red', 'green', 'blue', 'yellow')
colours[-2]

'blue'

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [27]:
nums13 = (10, 20, 5, 15)
min(nums13)

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [28]:
animals14 = ("dog", "cat", "rannit")
animals14.index("cat")

1

15. . Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [29]:
fruits = ("apple", "banana", "kiwi")
if "kiwi" in fruits:
  print(True)

True

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [30]:
my_set = {'a', 'b', 'c'}
my_set

{'a', 'b', 'c'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [33]:
s17 = {1, 2, 3, 4, 5}
s17.clear()
s17

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [34]:
s18 = {1, 2, 3, 4}
s18.remove(4)
s18

{1, 2, 3}

19. 9. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [35]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1 | set2

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [36]:
set11 = {1, 2, 3}
set22 = {2, 3, 4}
set11 & set22

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [37]:
d21 = {"name": "Azhadul", "age": 22, "city": "Hailakndi"}
d21

{'name': 'Azhadul', 'age': 22, 'city': 'Hailakndi'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [39]:
d22 = {"name":"john", "age": 25}
d22["country"] = "USA"
d22

{'name': 'john', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [40]:
d23 = {"name": "Alice", "age": 30}
d23["name"]

'Alice'

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [42]:
d24 = {"name": "Bob", "age": 22, "city": "New york"}
d24["age"]

22

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [43]:
d25 = {"name": "Alice", "city": "Pairs"}
if "city" in d25:
  print(True)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [44]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
my_list, my_tuple, my_dict

([1, 2, 3], (4, 5, 6), {'a': 1, 'b': 2})

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)

In [46]:
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[10, 12, 45, 61, 83]

28. Write a code to create a list with strings and print the element at the third index

In [47]:
str_list = ["one", "two", "three", "four", "five"]
str_list[3]

'four'

29.  Write a code to combine two dictionaries into one and print the result

In [48]:
d29 = {"a": 1, "b": 2}
d30 = {"c": 3, "d": 4}
d29 | d30

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set

In [53]:
strs = ["apple", "banana", "apple", "cherry"]
set(strs)

{'apple', 'banana', 'cherry'}